/*Tag styles*/
p{
    padding: 0;
    margin: 0;
}
a{
    color: white;
    outline: transparent;
}
ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

/*Common class styles*/
.logo{
    font-family: 'Great Vibes', cursive;
}


/*Header Section*/
#header{
    width: 100vw;
    height: 100vh;
    background: url("../../Assets/header-background-bicycle.jpg") no-repeat center/cover;

    filter: grayscale(50%);
}

/*Navigation bar*/

.navigation-bar{
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 65px;
    cursor: pointer;
    color: rgb(121, 101, 19);
}
.nav-list{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 19px;
}
.nav-item{
    margin-right: 30px;
}
.nav-item > a{
    color:rgb(121, 101, 19);
    display: inline-block;
    padding: 15px;
    position: relative;
}
.nav-item > a::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    background: none repeat scroll 0 0 transparent;
    background-color: rgb(121, 101, 19);
    transition: width 1s ease 0s, right 0.5s ease 0s;
    width: 0;
}
.nav-basket{
    display: flex;
}
.nav-basket > a{
    margin-left: 10px;

    color: rgb(121, 101, 19);

    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
}
.cart-total{
    opacity: 0.6;
}
.basket-icon{
    font-size: 22px;
    color: rgb(121, 101, 19);
}

/*Greeting section*/

.header__greeting{
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white
}
.header__text-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-card__title{
    font-family: 'Playfair Display', sans-serif!important;
    font-size: 5rem!important;
    line-height: 2!important;
}
.text-card__caption{
    font-family: 'Roboto', sans-serif!important;
    font-size: 1.5rem!important;
    color: rgb(211,211,211);
}
.arrow-down{
    color: white;
    font-size: 50px;
    align-self: center;
    cursor: pointer;
    animation: downarrow 0.8s infinite alternate ease-in-out;
    box-sizing: border-box;
    transition: .2s;

    border: 1px solid transparent;
    border-radius: 10px;

    position: absolute;
    bottom: 10%;
}
/*Hover effects*/

.nav-item > a:hover:after{
    width: 100%;
    right: 0;
}
.arrow-down:hover{
    border: 1px solid white;
    border-radius: 10px;
}
/*Keyframes*/

@keyframes downarrow {
    0%{
        transform: translateY(0);
        opacity: 0.8;
    }
    100%{
        transform: translateY(0.2em);
        opacity: 1;
    }
}